<div class="sidebar">
    <div class="sidebar-header">
        <h3><i class="fas fa-shield-alt me-2"></i>Police Admin</h3>
    </div>

    <!-- Add User Profile Section -->
    <div class="user-profile">
       
        <div class="user-info">
            <h6>{{ admin.name }}</h6>
            <span>Police Admin</span>
        </div>
    </div>

    <ul class="nav-menu">
        <li class="nav-item">
            <a href="{% url 'citizen:police_verification' %}" class="nav-link {% if request.resolver_match.url_name == 'police_verification' %}active{% endif %}">
                <i class="fas fa-home"></i>
                Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'citizen:search_nid' %}" class="nav-link {% if request.resolver_match.url_name == 'search_nid' %}active{% endif %}">
                    <i class="fas fa-search"></i> </i>
           search NID
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'citizen:police_change_password' %}" class="nav-link {% if request.resolver_match.url_name == 'police_change_password' %}active{% endif %}">
                <i class="fas fa-key"></i>
                <span>Change Password</span>
            </a>
        </li>


        
        <li class="nav-item mt-auto">
            <a href="{% url 'citizen:admin_logout' %}" class="nav-link">
                <i class="fas fa-sign-out-alt"></i>
                Logout
            </a>
        </li>
    </ul>
</div>